.listOfFlats {
  position: absolute;
  left: 25px;
}

.p-maybegood {
  font-size: 33px;
  font-weight: 900;
}

.apart_list {
  position: absolute;
  height: 100px;
  width: 100px;
}

.lll {
  width: 100px;
  height: 100px;
}
.apartments_map {
  position: relative;
  /* margin-bottom: 0.5px; */
  font-size: 17px;
  cursor: pointer;
  /* left: 30px; */
  border-radius: 1px;
  display: inline-flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  padding-left: 20px;
  height: 40px;
  width: 110px;
  margin-left: 10px;
  align-items: center;
  left: -10px;
  border: 1px solid grey;
  user-select: none;
}

/* .apartments_map:nth-child(1) {
  border-bottom: 0px;
} */

.apartments_map:hover {
  color: var(--main-hover);
}
