.li_apartments_item {
  flex-basis: 25%;
  max-width: 25%;

  box-sizing: border-box;
}

.listAp {
  display: flex;
  flex-wrap: wrap;
  /* list-style: none; */
  left: 0px;
  top: 200px;
  position: relative;
  /* width: 500px; */
  /* border: 1px solid black; */
}

.must {
  width: 500px;
  border: 1px solid red;
  position: relative;
  top: 1400px;
  left: 300px;
}
