.allListDis {
  position: absolute;
  left: 70px;
  display: flex;
}

.listOfDis {
  background-color: inherit;
  position: relative;
  margin-right: 10px;
  width: 300px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
